*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

.parent{
  height: 100%;
  width: 100%;
  background: #000;
  display: flex;
  gap: 20px;
  flex-wrap: nowrap;
  overflow: auto;
}

.parent::-webkit-scrollbar{
  display: none;
}

.child{
  height: 240px;
  width: 200px;
  background: #fff;
  border-radius: 10px;
  flex-shrink: 0;
}