* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
html,
body {
  height: 100%;
  width: 98vw;
}
main {
  height: calc(100vh - 80px);
  width: 100%;
  max-width: 1400px;
  box-sizing: border-box;
  display: grid;
  padding: 5px;
  grid-template-columns: 50% 1fr 1fr;
  grid-template-rows: 10% 1fr 1fr;
  grid-template-areas: "header header header"
                        "aside figure figure"
                        "section div1 div2"
  ;
  grid-gap: 10px;
}

.same_props {
  border-radius: 10px;
  background-size: cover;
  background-position: center;
}

header {
  grid-area: header;
  padding: 7px 20px;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.navbar .begin {
  display: flex;
  gap: 5px;
  align-items: center;
  font-weight: 700;
  text-transform: uppercase;
  font-size: 1.75rem;
  color: black;
}

.navbar i{
  font-size: 20px;
  color: rgb(80, 159, 196);
}
.navbar .middle {
  display: flex;
  gap: 20px;
  font-size: 0.8rem;
  font-weight: 400;
}

.navbar .middle a {
  text-decoration: none;
  color: black;
}

.navbar .end {
  display: flex;
  gap: 15px;
  justify-content: space-between;
}

.end-btn-section {
  position: relative;
  left: 20px;
}

.navbar .end button {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 8px;
  background-color: transparent;
  border: none;
  color: rgb(23, 21, 21);
  cursor: pointer;
  font-weight: 400;
}
.navbar .end button:nth-child(2) {
  padding: 5px 14px;
  border: none;
  border-radius: 50px;
  background-color: rgb(18, 13, 18);
  color: white;
  cursor: pointer;
  font-weight: 300;
}

.navbar .end button i {
  background-color: rgb(122, 64, 180);
  border-radius: 50%;
}

button .icon{
  font-size: 18px;
}


/* aside section */
aside {
  width: 100%;
  // background-color: aquamarine;
  grid-area: aside;
}
aside .main-content {
  display: flex;
  flex-direction: column;
  flex-shrink: 1;
  padding: 20px 20px;
  font-size: 2.2rem;
  line-height: 3.2rem;
}

aside .main-content .img-sec{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
}
aside span img {
  margin-top: 14px;
  width: 75px;
  height: 35px;
  border-radius: 30px;
  object-fit: cover;
}

aside .main-content .img-sec h2 {
  font-weight: 400;
}

aside .main-content h2 {
  font-weight: 400;
}

.main-content .btn {
  display: flex;
  align-items: center;
  gap: 15px;
}

aside .main-content button {
  font-weight: 400;
  background-color: transparent;
  border: 2px solid black;
  border-radius: 30px;
  margin-top: 10px;
  padding: 5px 18px;
  color: black;
  cursor: pointer;
}

button i {
  color: black;
}

figure {
  grid-area: figure;
  background-image: url(https://images.unsplash.com/photo-1674111611614-699b8dc12cd8?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDIxfHx8ZW58MHx8fHx8&auto=format&fit=crop&q=60&w=600);
}

section {
  grid-area: section;
  /* background-color: blueviolet; */
}

section .contact-btn-container {
  display: flex;
  gap: 20px;
  padding-top: 5px;
  align-items: center;
}

.bottom-left {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 20px;
} 

.bottom-left p {
  margin-top: 55px;
  font-size: 12px;
  font-weight: 700;
}

.bottom-left .left-bottom-footer {
  display: flex;
  gap: 45px;
}

section .contact-btn-container .contact-btn {
  display: flex;
  gap: 5px;
  padding: 5px 14px;
  border: none;
  border-radius: 50px;
  text-transform: uppercase;
  background-color: rgb(18, 13, 18);
  color: white;
  cursor: pointer;
  font-weight: 300;
}
.contact-btn-container button i{
  color: white;
}
.contact-btn-container a{
  color: black;
}

/* Bottom right section */
.div1 {
  grid-area: div1;
  background-image: url(https://images.unsplash.com/photo-1690801635567-1297d3a2da4d?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDQ5fHx8ZW58MHx8fHx8&auto=format&fit=crop&q=60&w=600);
}

.div2 {
  grid-area: div2;
  background-image: url(https://images.unsplash.com/photo-1594876882696-16fb12eb78d0?ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1yZWxhdGVkfDM1fHx8ZW58MHx8fHx8&auto=format&fit=crop&q=60&w=600);
}