# Day50jsdom ke reels folder ki saari mp4 files ignore karo
Javascript/Dom/Day50jsdom/reels/*.mp4

*.mp4

node_modules

*.svg
*.png
*.mp3
*.mp4
*.jpg
*.jpeg

*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json