* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

@font-face {
  font-family: "alvy";
  src: url(./alvyfont.woff);
}
html,
body {
  height: 100%;
  width: 100%;
}

html {
  font-family: alvy;
  color: rgb(217, 216, 216);
  font-size: clamp(14px, 1.2vw, 18px);
}

body {
  background-color: #121212;
}

section {
  max-width: 1920px;
}

main {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0rem;
  justify-content: center;
}
main section.hero-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.8rem;
}
main section.hero-section .hero-top {
  width: 100%;
}
main section.hero-section .hero-top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.hero-section .hero-bottom {
  width: 100%;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 0.7rem;
  padding: 1.5rem;
}
main section.hero-section .hero-bottom .text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main section.hero-section .hero-bottom .text h1 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
main section.hero-section .hero-bottom .text p {
  opacity: 0.5;
  line-height: 1.4;
  font-weight: 300;
}
main section.hero-section .hero-bottom .text .btn {
  display: flex;
  gap: 1rem;
}
main section.hero-section .hero-bottom .text button {
  width: -moz-fit-content;
  width: fit-content;
  border: none;
  background-color: transparent;
  color: aliceblue;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: 500;
}
main section.hero-section .hero-bottom .text i {
  background-color: rgba(50, 50, 50, 0.688);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 0.5rem;
  border-radius: 50%;
  outline: 1px solid rgba(91, 90, 90, 0.688);
  cursor: pointer;
}
main section.nums-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-gap: 2rem;
  padding: 2rem 1rem;
}
main section.nums-section p {
  opacity: 0.5;
  line-height: 1.4;
  font-weight: 300;
  letter-spacing: 0.099rem;
}
main section.nums-section h3 {
  text-transform: uppercase;
  font-size: 2rem;
  font-weight: 600;
  letter-spacing: 0.08rem;
}
main section.nums-section .num1,
main section.nums-section .num2,
main section.nums-section .num3,
main section.nums-section .num4 {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
  align-items: center;
  justify-content: center;
}
main section.philosophy-section,
main section.vision-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.8rem;
  padding: 0.8rem;
}
main section.philosophy-section .philosophy-top,
main section.vision-section .philosophy-top {
  width: 100%;
}
main section.philosophy-section .philosophy-top img,
main section.vision-section .philosophy-top img {
  width: 100%;
  border-radius: 0.7rem;
}
main section.philosophy-section .philosophy-bottom > p,
main section.vision-section .philosophy-bottom > p {
  text-transform: uppercase;
}
main section.philosophy-section .philosophy-bottom,
main section.vision-section .philosophy-bottom {
  width: 100%;
  background-color: #1e1e1e;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  border-radius: 0.7rem;
  padding: 1.5rem;
}
main section.philosophy-section .philosophy-bottom .main-text,
main section.vision-section .philosophy-bottom .main-text {
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
}
main section.philosophy-section .philosophy-bottom .main-text h2,
main section.vision-section .philosophy-bottom .main-text h2 {
  text-transform: uppercase;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
}
main section.philosophy-section .philosophy-bottom .main-text p,
main section.vision-section .philosophy-bottom .main-text p {
  opacity: 0.5;
  line-height: 1.4;
  font-weight: 300;
}
main section.team-section {
  width: 100%;
  padding: 0.5rem 1.7rem;
}
main section.team-section .team {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
main section.team-section .team h3 {
  font-size: 2.4rem;
  text-transform: uppercase;
  font-weight: 300;
}
main section.team-section .team .team-btn {
  display: none;
}
main section.team-section .team .team-btn i {
  background-color: rgba(50, 50, 50, 0.688);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  padding: 0.5rem;
  border-radius: 50%;
  outline: 1px solid rgba(91, 90, 90, 0.688);
  cursor: pointer;
  text-align: center;
}

@media (min-width: 900px) {
  main section.hero-section {
    flex-direction: row;
    padding: 1rem 1.2rem;
  }
  main section.hero-section .hero-top,
  main section.hero-section .hero-bottom {
    width: 50%;
  }
  main section.hero-section .hero-bottom {
    justify-content: space-between;
    padding: 2.5rem 3rem;
  }
  main section.hero-section .hero-bottom .text {
    gap: 1.2rem;
  }
  main section.hero-section .hero-bottom .text h1 {
    font-size: 3.2rem;
  }
  main section.hero-section .hero-bottom .text p {
    width: 90%;
    font-size: 1.2rem;
  }
  main section.nums-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr;
    padding: 3rem;
  }
  main section.philosophy-section {
    flex-direction: row-reverse;
    padding: 1rem 1.2rem;
  }
  main section.philosophy-section .philosophy-top,
  main section.philosophy-section .philosophy-bottom {
    width: 50%;
  }
  main section.philosophy-section .philosophy-bottom {
    gap: 7rem;
    justify-content: space-between;
    padding: 2.5rem 3rem;
  }
  main section.philosophy-section .philosophy-bottom .main-text {
    gap: 1rem;
  }
  main section.philosophy-section .philosophy-bottom .main-text h1 {
    font-size: 3.5rem;
  }
  main section.philosophy-section .philosophy-bottom .main-text .paragraph {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-direction: row;
    font-size: 1.1rem;
  }
  main section.vision-section {
    flex-direction: row;
    padding: 1rem 1.2rem;
  }
  main section.vision-section .philosophy-top,
  main section.vision-section .philosophy-bottom {
    width: 50%;
  }
  main section.vision-section .philosophy-bottom {
    gap: 7rem;
    justify-content: space-between;
    padding: 2.5rem 3rem;
  }
  main section.vision-section .philosophy-bottom .main-text {
    gap: 1rem;
  }
  main section.vision-section .philosophy-bottom .main-text h1 {
    font-size: 3.5rem;
  }
  main section.vision-section .philosophy-bottom .main-text .paragraph {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    flex-direction: row;
    font-size: 1.1rem;
  }
  main section.team-section {
    width: 100%;
    padding: 1.7rem 3.5rem;
  }
  main section.team-section .team {
    justify-content: space-between;
  }
  main section.team-section .team .team-btn {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }
}/*# sourceMappingURL=style.css.map */