@font-face {
  font-family: apple-font;
  src: url('./sf-pro-text_regular.woff2');
}

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

#main {
  height: 40px;
  width: 100%;
  background-color: rgb(43, 42, 42);
  font-family: apple-font;
  color: white;
}

#nav i{
  cursor: pointer;
}

#nav {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(35, 34, 34);
  color: white;
  padding: 20px;
  gap: 20px;
  font-weight: 300;
  font-family: apple-font;
}

#nav .nav-link{
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: white;
}

#center{
  height: 88.8vh;
  width: 100%;
  padding: 3rem;
  color: white;
  text-align: center;
  background-image: url(https://www.apple.com/v/home/ch/images/heroes/iphone-17-pro/hero_iphone_17_pro__bknyzxfk2agi_large_2x.jpg);
  background-size: cover;
  background-position: center;
}

#center h1{
  font-size: 2.5rem;
  font-weight: 600;
  font-family: apple-font;
  padding-bottom: 10px;
}
#center h5{
  font-size: 18px;
  font-weight: 300;
  padding-bottom: 20px;
  font-family: apple-font;
}

#center #links{
  display: flex;
  justify-content: center;
  gap: 1.25rem;
}

#links button{
  border: none;
  padding: .625rem 1.875rem;
  border-radius: 50px;
  background-color: royalblue;
  font-size: 1rem;
  color: white;
  font-family: apple-font;
  transition: background-color 0.3s ease, color 0.3s ease;
}

#links button#buybtn{
  background-color: transparent;
  border: 1px solid royalblue;
  color: royalblue;
  font-family: apple-font;
}

#links button:hover{
  background-color: rgba(0, 0, 139, 0.96);
  cursor: pointer;
}

#links button#buybtn:hover {
  background-color: royalblue;
  color: white;
  cursor: pointer;
}
