* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body{
  height: 100%;
  width: 100%;
}

html{
  /* background-color: black; */
  color: aliceblue;
}


.main {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  background-color: black;
  text-align: center;
}

h1 {
  font-size: 70px;
  background-color: lightblue;
  padding: 10px 30px;
  border-radius: 20px;
  font-family: monospace;
}

h2, h3, p {
  font-family: monospace;
}

h2{
  font-size: 30px;
  font-weight: 600;
}
h3, p {
  font-size: 20px;
  font-weight: 400;
}

/* .box {
  height: 250px;
  width: 250px;
  border-radius: 20px;
  background-color: blueviolet;
} */

.btn {
  background-color: rgba(99, 39, 39, 0.942);
  padding: 10px 30px;
  border: none;
  border-radius: 10px;
  font-size: 25px;
  color: aliceblue;
  cursor: pointer;
}