* {
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
}

main {
  height: 100%;
  width: 100%;
  display: flex;
  background-color: #242323;
  justify-content: center;
  align-items: center;
  color: white; 
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  background-color: rgb(184, 110, 46);
  color: white;
  border: none;
  position: relative;
  z-index: 99;
}

button:active {
  scale: 0.98;
}

h1 {
  font-size: 20px;
  font-family: monospace;
}